<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEK KHODAM</title>

    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap" rel="stylesheet">

</head>
<body>
    <div class="form ">
        <h1 class="title kanit-medium">CEK KHODAM</h1>
        
        <div class="kanit-light">
            <form action="/submit" method="POST">
                    <input type="text" id="password" name="password" placeholder="Tulis nama anda:" required>
                    <input type="submit" value="Submit" id="button">
            </form>
            <% if (locals.pass) { %>
                    <p><b><%= pass %></b>, khodam mu adalah <%= noun %> <%= adjective %>!</p>
            <% } %>
        </div>
    </div>
    
</body>
</html>